<form>
    <div class="form-group">
        <label for="firstName">Firstname</label>
        <input class="form-control" id="firstName" type="text">
    </div>
    <div class="form-group">
        <label for="lastName">Lastname</label>
        <input class="form-control" id="lastName" type="text">
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea class="form-control"id="comment" type="text"></textarea>
    </div>
    <button class="btn btn-primary">Enregistrer</button>
</form>
