<form [formGroup]="form">
        <div class="form-group">
            <label for="username">UserName</label>
            <input 
                formControlName="username"    
                class="form-control" 
                    id="firstName"
                     type="text">
            <div class="alert alert-danger" 
            *ngIf="username.touched
                && username.invalid">
            <div *ngIf="username.errors.required">
                    username is required !
            </div>
            <div *ngIf="username.errors.minlength">
                username doit avoir au moins {{username.errors.minlength.requiredLengh}}

            </div>
            <div *ngIf="username.errors.canotContainSpace">
              username ne doit pas avoir un espace
            </div>
            </div>

        <div class="form-group">
            <label for="password">
                Password
            </label>
            <input formControlName="password"
                    class="form-control"  
                    type="text">
            <div class="alert alert-danger" 
            *ngIf="password
            .touched && password.invalid">
                password is required
            </div>
        </div>
        <div class="from-group">
            <button  class="btn btn-primary"  >
                Registrer
            </button>
        </div>
